<!doctype html>
<html class="login">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta name="robots" content="noindex,nofollow,noarchive"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>${this/title}</title>
<link rel="stylesheet" href="${makeUpPath}/css/style.css" type="text/css"/>
<script type="text/javascript" src="${makeUpPath}/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${makeUpPath}/js/public.js"></script>
<!--[if lt IE 9]>
<script src="${makeUpPath}/js/html5shiv.js"></script>
<script src="${makeUpPath}/js/ie9.js"></script>
<![endif]-->
</head>
<body>
<div id="wrap" class="bgTexture">
 <header>
 <nav>
  <ul>
   <!--<li><a href="/site/adminlogin" class="btnSmall themeSub">管理者設定</a></li>-->
  </ul>
 </nav>
 <!--<h1><a href="#"><img src="/img/logo.png" alt=""/></a></h1>-->
</header>
 <div id="contents_login">
  <div id="main_login" tal:content="structure content">
  </div>
 </div>
 <footer>COPYRIGHT &copy; 2015 MPlatform Inc. All Rights Reserved.</footer>
<p id="page-top"><a href="#wrap">▲PAGE TOP</a></p></div>
<!--[if IE 9]><script src="${makeUpPath}/js/PIE_IE9.js"></script><![endif]-->
<!--[if lt IE 9]><script src="${makeUpPath}/js/PIE_IE678.js"></script><![endif]-->
</body>
</html>
