<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content="HieuNC"/>
    <meta charset="UTF-8"/>

    <!--favicon-->
    <link rel="icon" href="assets/images/favicon.ico"/>

    <title>${this/title}</title>

    <!-- Bootstrap core CSS -->
    <link href="${makeUpPath}/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="${makeUpPath}/css/style.css" rel="stylesheet"/>
    <link href="${makeUpPath}/css/responsive.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="${makeUpPath}/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="${makeUpPath}/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="${makeUpPath}/js/html5shiv.min.js"></script>
    <script src="${makeUpPath}/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default" tal:condition="this/nav" tal:content="structure this/nav"></nav>
<!--nave header-->


<div class="container-fluid">
    <div class="row">
        <nav id="side" tal:condition="this/menu" tal:content="structure this/menu">
            <section>
                <h2>Title</h2>
                <ul>
                    <li><a href="#" class="stay">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </section>

        </nav>
        <div class="col-sm-10 " id="main">
            <div class="row" tal:content="structure content">

            </div>
        </div>
    </div>

</div>
<footer>COPYRIGHT © 2015 Owl Food Inc. All Rights Reserved.</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="${makeUpPath}/js/jquery.min.js"></script>
<script src="${makeUpPath}/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="${makeUpPath}/js/holder.min.js"></script>
<script src="${makeUpPath}/js/js.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="${makeUpPath}/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>