<form class="form-signin" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <tal:block tal:content="structure php:CHtml::error(model, 'username', array('class' => 'text-danger'))"/>
    <!--inpputUserId-->
    <label for="inpputUserId" class="sr-only">User id</label>
        <input value="${model/username|''}" type="text" id="inpputUserId" maxlength="20" name="LoginForm[username]" class="form-control" placeholder="User id"/>
    <!--Password-->
    <tal:block tal:content="structure php:CHtml::error(model, 'password', array('class' => 'text-danger'))"/>
    <label for="inputPassword" maxlength="32" class="sr-only">Password</label>
        <input name="LoginForm[password]" type="password" value="${model/password|''}" id="inputPassword" class="form-control" placeholder="Password"/>

    <button class="btn btn-lg btn-primary btn-block" style="width: 100%;" type="submit">Sign in</button>
    <!--remember me-->
    <div class="checkbox">
        <label>
            <input name="LoginForm[rememberMe]" type="checkbox" value="1" tal:attributes="checked php:isset(model['rememberMe']) && model['rememberMe']=='1' ? 'checked' : ''"/> Remember me
        </label>
    </div>

</form>
