<nav id="topicPath" tal:condition="this/breadcrumbs" tal:content="structure this/breadcrumbs"></nav>
<!--breadcrumbs-->

<h1 class="article-title">User manage</h1>
<article>
    <p>Input info to search.</p>

    <p class="text-danger" tal:condition="php: message =='success' && action =='delete'">
        You have deleted User
        <tal:block tal:condition="name">[${name|''}]</tal:block>
        success.
    </p>
</article>

<form method="get" action="">
    <div class="table-responsive">
        <table class="table table-bordered detail" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <th>Login id</th>
                <td>
                    <input value="${search/login_id|''}" name="search[login_id]" class="form-control"
                           style="width: 250px;" type="text"/>
                </td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    <select name="search[role]" class="form-control" style="width: 250px;">
                        <option value="">Choose value...</option>
                        <option tal:attributes="selected php: search['role'] == '1' ? 'selected' :''"
                                value="1">Yes
                        </option>
                        <option tal:attributes="selected php: search['role'] == '0' ? 'selected' :''"
                                value="0">No
                        </option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="BtnArea" style="text-align: center !important;">
        <input class="btn btn-default" title="Search" value="Search" type="submit"/>
    </div>
</form>


<div class="table-responsive" tal:condition="administrators">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 3%;">#</th>
            <th>Full name</th>
            <th style="width: 8%;">Phone</th>
            <th style="width: 10%;">Login id</th>
            <th style="width: 10%;">Role</th>
            <th style="width:15%">Created</th>
            <th style="width:15%">Modified</th>
            <th style="width: 7%;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr tal:repeat="administrator administrators ">
            <td>${administrator/id}</td>
            <td>
                <tal:block tal:condition="administrator/indentifyInfomation/full_name" tal:content="administrator/indentifyInfomation/full_name"/>
            </td>
            <td>
                <tal:block tal:condition="administrator/indentifyInfomation/phone" tal:content="administrator/indentifyInfomation/phone"/>
            </td>
            <td>${administrator/login_id|''}</td>
            <td>
                <strong tal:condition="administrator/role">Yes</strong>
                <strong tal:condition="not:administrator/role">No</strong>
            </td>
            <td>
                <tal:block tal:condition="administrator/created" tal:content="dateformat:administrator/created"/>
            </td>
            <td>
                <tal:block tal:condition="administrator/modified" tal:content="dateformat:administrator/modified"/>
            </td>
            <td>
                <a tal:attributes="href php:this.createUrl('/systemusers/default/view',array('id'=>administrator['id']))">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a tal:attributes="href php:this.createUrl('/systemusers/default/delete',array('id'=>administrator['id']))">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a tal:attributes="href php:this.createUrl('/systemusers/default/edit',array('id'=>administrator['id']))">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="mBoxitem_listinfo">
    <p class="pageList_data"><strong>Count：</strong>${itemCount|'0'}</p>
</div>

<div class="mBoxitem_listinfo">
    <ul class="pageList_link" tal:replace="structure php:this.widget('PaginationWidget',array('pages'=>pages),true)">
        <li class="stay"><strong>1</strong></li>
        <li><a href="/admin/orders/search?page=2">2</a></li>
        <li><a href="/admin/orders/search?page=2">≫</a></li>
    </ul>
</div>