<nav id="topicPath" tal:condition="this/breadcrumbs" tal:content="structure this/breadcrumbs"></nav>
<!--breadcrumbs-->

<h1 class="article-title" tal:condition= "php: !isset(archiveSite['id'])">Add new site.</h1>
<h1 class="article-title" tal:condition= "php: isset(archiveSite['id']) && archiveSite['id']">Edit site.</h1>
<article>
    <p>Input info to complete action.</p>
</article>
<form method="post" action="" name="archivesiteEditForm">
<div class="table-responsive">

        <input value="${archiveSite/id|''}" name="ArchiveSite[id]" type="hidden"/>
        <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <th style="width: 15%">Site name</th>
                <td>
                    <tal:block tal:content="structure php:CHtml::error(archiveSite, 'site_name', array('class' => 'text-danger'))"/>
                    <input value="${archiveSite/site_name|''}" name="ArchiveSite[site_name]" class="form-control"
                           style="width: 250px;" type="text"/>
                </td>
            </tr>
            <tr>
                <th style="width: 15%">Staff name</th>
                <td>
                    <tal:block tal:content="structure php:CHtml::error(archiveSite, 'staff_id', array('class' => 'text-danger'))"/>
                    <select name="ArchiveSite[staff_id]" class="form-control" style="width: 250px;">
                        <option value="">Choose value...</option>
                        <option tal:condition="staffs" tal:repeat="staff staffs" value="${staff/id}" tal:attributes="selected php:archiveSite['staff_id'] == staff['id']">
                            ${staff/login_id}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th style="width: 15%">Site directory</th>
                <td>
                    <tal:block tal:content="structure php:CHtml::error(archiveSite, 'site_abbr_cd', array('class' => 'text-danger'))"/>
                    <input value="${archiveSite/site_abbr_cd|''}" name="ArchiveSite[site_abbr_cd]" class="form-control"
                           style="width: 250px;" type="text"/>
                </td>
            </tr>
            <tr>
                <th style="width: 15%">Is use single domain</th>
                <td>
                    <div class="checkbox">
                        <label>
                            <input tal:attributes="checked php:archiveSite['use_single_domain'] ? 'checked' : ''"
                                   name="ArchiveSite[use_single_domain]" value="1"
                                   type="checkbox"/> Checked if this site uses single domain.
                        </label>
                    </div>

                </td>
            </tr>
            <tr>
                <th style="width: 15%">Site domain</th>
                <td>
                    <tal:block tal:content="structure php:CHtml::error(archiveSite, 'site_domain', array('class' => 'text-danger'))"/>
                    <input value="${archiveSite/site_domain|''}" name="ArchiveSite[site_domain]" class="form-control"
                           style="width: 250px;" type="text"/>
                </td>
            </tr>
            </tbody>
        </table>
</div>

<div class="BtnArea" style="text-align: center !important;">
    <input class="btn btn-default" title="Cancel" value="Cancel" type="button"/>
    <input class="btn btn-default" title="Save" value="Save" type="submit"/>
</div>
</form>

