<nav id="topicPath" tal:condition="this/breadcrumbs" tal:content="structure this/breadcrumbs"></nav>
<!--breadcrumbs-->

<h1>Site Detail</h1>
<article>
    <p>Input info to search.</p>

    <!--<p class="text-danger">Để tìm đơn hàng. Nhập các tiêu chí tìm kiếm, vui lòng click vào nút-->
    <!--Search.</p>-->
</article>
<form method="post" action="" name="archivesiteEditForm">
<div class="table-responsive">

        <input value="${archiveSite/id|''}" name="ArchiveSite[id]" type="hidden"/>
        <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <th style="width: 15%">Site name</th>
                <td>
                    <input value="${archiveSite/site_name|''}" name="ArchiveSite[site_name]" class="form-control"
                           style="width: 250px;" type="text"/>
                </td>
            </tr>
            <tr>
                <th style="width: 15%">Staff name</th>
                <td>
                    <select name="ArchiveSite[site_name]" class="form-control" style="width: 250px;">
                        <option value="">Choose value...</option>
                        <option tal:condition="staffs" tal:repeat="staff staffs" value="${staff/id}" tal:attributes="selected php:archiveSite['staff_id'] == staff['id']">
                            ${staff/login_id}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th style="width: 15%">Site directory</th>
                <td>
                    <input value="${archiveSite/site_abbr_cd|''}" name="ArchiveSite[site_abbr_cd]" class="form-control"
                           style="width: 250px;" type="text"/>
                </td>
            </tr>
            <tr>
                <th style="width: 15%">Is use single domain</th>
                <td>
                    <div class="checkbox">
                        <label>
                            <input tal:attributes="checked php:archiveSite['use_single_domain'] ? 'checked' : ''; value php:archiveSite['use_single_domain'] ? '1' : '0'"
                                   name="ArchiveSite[use_single_domain]"
                                   type="checkbox"/> Checked if this site uses single domain.
                        </label>
                    </div>

                </td>
            </tr>
            </tbody>
            <tr>
                <th style="width: 15%">Site domain</th>
                <td>
                    <input value="${archiveSite/site_domain|''}" name="ArchiveSite[site_domain]" class="form-control"
                           style="width: 250px;" type="text"/>
                </td>
            </tr>
        </table>
</div>

<div class="BtnArea" style="text-align: center !important;">
    <input class="btn btn-default" title="Cancel" value="Cancel" type="button"/>
    <input class="btn btn-default" title="Save" value="Save" type="submit"/>
</div>
</form>

