<nav id="topicPath">
    <ol class="breadcrumb">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
</nav>
<h1>Quản lí đơn hàng</h1>
<article>
    <p>Để tìm đơn hàng. Nhập các tiêu chí tìm kiếm, vui lòng click vào nút Search.</p>

    <p class="text-danger">Để tìm đơn hàng. Nhập các tiêu chí tìm kiếm, vui lòng click vào nút
        Search.</p>
</article>

<div class="table-responsive">
    <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <th style="width: 15%">Site name</th>
            <td>
                <input value="" name="search[site_name]" class="form-control" style="width: 250px;" type="text"/>
            </td>
        </tr>
        <tr>
            <th style="width: 15%">Site domain</th>
            <td>
                <input value="" name="search[site_domain]" class="form-control" style="width: 250px;" type="text"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="BtnArea" style="text-align: center !important;">
    <input class="btn btn-default" title="Search" value="Search" type="submit"/>
</div>


<div class="table-responsive" tal:condition="archiveSite">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 20%;">Site name</th>
            <th style="width: 10%;">Staff id</th>
            <th>Site domain</th>
            <th style="width:10%">Created</th>
            <th style="width:10%">Modified</th>
            <th style="width: 7%;">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr tal:repeat="site archiveSite ">
                <td>${repeat/site/number}</td>
                <td>${site/site_name|''}</td>
                <td>${site/site_domain|''}</td>
                <td>${site/site_domain|''}</td>
                <td><tal:block tal:condition="site/created" tal:content="dateformat:site/created" /></td>
                <td><tal:block tal:condition="site/modified" tal:content="dateformat:site/modified" /></td>
                <td>
                    <a href="">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                    <a href="">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mBoxitem_listinfo">
    <p class="pageList_data"><strong>Count：</strong>${itemCount|'0'}</p>
</div>

<div class="mBoxitem_listinfo">
    <ul class="pageList_link">
        <li class="stay"><strong>1</strong></li>
        <li><a href="/admin/orders/search?page=2">2</a></li>
        <li><a href="/admin/orders/search?page=2">≫</a></li>
    </ul>
</div>