<nav id="topicPath" tal:condition="this/breadcrumbs" tal:content="structure this/breadcrumbs"></nav>
<!--breadcrumbs-->

<h1 class="article-title">Site Detail</h1>
<article>
    <p>This page includes infomation about site.</p>
    <p class="text-danger" tal:condition="php: message =='success' && action =='add'">You have added new site success.</p>
    <p class="text-danger" tal:condition="php: message =='success' && action =='edit'">You have edited site success.</p>
</article>

<div class="table-responsive">
    <table class="table table-bordered detail" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th>Site id</th>
                <td>
                    <tal:block tal:content="archiveSite/id"/>
                </td>
            </tr>
            <tr>
                <th>Site name</th>
                <td>
                    <tal:block tal:content="archiveSite/site_name"/>
                </td>
            </tr>
            <tr>
                <th>Site directory</th>
                <td>
                    <tal:block tal:content="archiveSite/site_abbr_cd"/>
                </td>
            </tr>
            <tr>
                <th>Staff name</th>
                <td>
                    <tal:block tal:condition="archiveSite/own" tal:content="archiveSite/own/login_id"/>
                </td>
            </tr>
            <tr>
                <th>Site domain</th>
                <td>
                    <a tal:condition="archiveSite/site_domain" href="${archiveSite/site_domain|''}">${archiveSite/site_domain|''}</a>
                    <a tal:condition="not:archiveSite/site_domain" href="http://${site/site_abbr_cd|''}.${params/FRONT_DOMAIN|''}/">http://${site/site_abbr_cd|''}.${params/FRONT_DOMAIN|''}/</a>
                </td>
            </tr>
            <tr>
                <th>Use single domain</th>
                <td>
                    <tal:block tal:condition="archiveSite/use_single_domain">Yes</tal:block>
                    <tal:block tal:condition="not:archiveSite/use_single_domain">No</tal:block>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered detail" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <th>Created</th>
            <td><tal:block tal:condition="archiveSite/created" tal:content="dateformat:archiveSite/created" /></td>
        </tr>
        <tr>
            <th>Modified</th>
            <td><tal:block tal:condition="archiveSite/modified" tal:content="dateformat:archiveSite/modified" /></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="BtnArea" style="text-align: center !important;">
    <a class="btn btn-default" tal:attributes="href php:this.createUrl('/archivesite/default/delete',array('id'=>archiveSite['id']))">Delete</a>
    <a class="btn btn-default" tal:attributes="href php:this.createUrl('/archivesite/default/edit',array('id'=>archiveSite['id']))">Edit</a>
</div>


