<nav id="topicPath">
    <ol class="breadcrumb">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
</nav>
<h1>Quản lí đơn hàng</h1>
<article>
    <p>Để tìm đơn hàng. Nhập các tiêu chí tìm kiếm, vui lòng click vào nút Search.</p>

    <p class="text-danger">Để tìm đơn hàng. Nhập các tiêu chí tìm kiếm, vui lòng click vào nút
        Search.</p>
</article>

<div class="table-responsive">
    <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <th style="width: 15%">Tên đơn hàng</th>
            <td>
                <input value="" name="search[name]" class="form-control" style="width: 250px;" type="text"/>
            </td>
        </tr>
        <tr>
            <th style="width: 15%">Tên đơn hàng</th>
            <td>
                <input value="" name="search[name]" class="form-control" style="width: 250px;" type="text"/>
            </td>
        </tr>
        <tr>
            <th style="width: 15%">Tên đơn hàng</th>
            <td>
                <input value="" name="search[name]" class="form-control" style="width: 250px;" type="text"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="BtnArea" style="text-align: center !important;">
    <input class="btn btn-default" title="Search" value="Search" type="submit"/>
</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 5%;">#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th style="width: 8%;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,002</td>
            <td>amet</td>
            <td>consectetur</td>
            <td>adipiscing</td>
            <td>elit</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,003</td>
            <td>Integer</td>
            <td>nec</td>
            <td>odio</td>
            <td>Praesent</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,003</td>
            <td>libero</td>
            <td>Sed</td>
            <td>cursus</td>
            <td>ante</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,004</td>
            <td>dapibus</td>
            <td>diam</td>
            <td>Sed</td>
            <td>nisi</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,005</td>
            <td>Nulla</td>
            <td>quis</td>
            <td>sem</td>
            <td>at</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,006</td>
            <td>nibh</td>
            <td>elementum</td>
            <td>imperdiet</td>
            <td>Duis</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,007</td>
            <td>sagittis</td>
            <td>ipsum</td>
            <td>Praesent</td>
            <td>mauris</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,008</td>
            <td>Fusce</td>
            <td>nec</td>
            <td>tellus</td>
            <td>sed</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>1,009</td>
            <td>augue</td>
            <td>semper</td>
            <td>porta</td>
            <td>Mauris</td>
            <td>
                <a href="">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="mBoxitem_listinfo">
    <p class="pageList_data"><strong>Số lượng tin：</strong>11</p>
</div>

<div class="mBoxitem_listinfo">
    <ul class="pageList_link">
        <li class="stay"><strong>1</strong></li>
        <li><a href="/admin/orders/search?page=2">2</a></li>
        <li><a href="/admin/orders/search?page=2">≫</a></li>
    </ul>
</div>