<nav id="topicPath" tal:condition="this/breadcrumbs" tal:content="structure this/breadcrumbs"></nav>
<!--breadcrumbs-->

<h1 class="article-title">Backup database</h1>
<article>
    <p>
        Backup database(s).<br/>
        Only admin have permission.
    </p>

    <p class="text-danger" tal:condition="php: message =='success'">
        Database(s) have been backuped success.
    </p>
</article>

<form method="post" action="" name="databaseBackupForm" tal:condition="databaseList">
    <div class="table-responsive">
        <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <th style="width: 30%; vertical-align: middle; text-align: center;">Choose database</th>
                <td>
                    <div class="checkbox" tal:repeat="database databaseList">
                        <label>
                            <input checked="checked" name="Database[${repeat/database/key|''}]" value="1"
                                   type="checkbox"/> ${repeat/database/key|''}.
                            <tal:block tal:define="idx repeat/database/key" tal:condition="php:isset(filesBackup[idx]['filename'])">
                                <a style="padding-left: 20px;"
                                   tal:define="idx repeat/database/key; title php:filesBackup[idx]['filename']"
                                   tal:attributes="href php:filesBackup[idx]['link']">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    ${title}
                                </a>
                            </tal:block>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="width: 30%; vertical-align: middle; text-align: center;">Option</th>
                <td>
                    <div class="checkbox">
                        <label>
                            <input checked="checked" name="BackupOption[drop_database]" value="1" type="checkbox"/> Add CROP DATABASE statement.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input checked="checked" name="BackupOption[create_database]" value="1" type="checkbox"/> Add CREATE DATABASE / USE statement.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input checked="checked" name="BackupOption[truncate_table]" value="1" type="checkbox"/> Truncate table before insert.
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="width: 30%; vertical-align: middle; text-align: center;">File type</th>
                <td>

                        <select name="FileType" class="form form-control" style="width: 80px;">
                            <option tal:repeat="type filetype" value="${repeat/type/key|''}">${type|''}</option>
                        </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="BtnArea" style="text-align: center !important;">
        <input class="btn btn-default" title="Cancel" value="Cancel" type="button"/>
        <input class="btn btn-default" title="Backup" value="Backup" type="submit"/>
    </div>
</form>