<!--<nav id="topicPath" tal:condition="this/breadcrumbs" tal:content="structure this/breadcrumbs"></nav>-->
<!--breadcrumbs-->

<h1 class="article-title">Config CMS "main.php" file</h1>
<article>
    <p>
        Be carefull when use this action.<br/>
        Because it can get you into trouble.
    </p>

    <p class="text-danger" tal:condition="php: message =='success'">
        You save main.php sccuess.
    </p>
</article>

<form method="post" action="" name="archivesiteEditForm">
    <div class="table-responsive">
        <textarea id="codemirrorElement" name="FileContent">${fileContent|''}</textarea>
    </div>

    <div class="BtnArea" style="text-align: center !important;">
        <input class="btn btn-default" title="Cancel" value="Cancel" type="button"/>
        <input class="btn btn-default" title="Save" value="Save" type="submit"/>
    </div>
</form>